body {
    padding-top: 70px;
    padding-bottom:20px;
}

.page-header{
    margin-top:0px;
}

.qrcode{
    width:100%;
}

@media (min-width: 400px) {
    .qrcode {
        width:300px;
    }
}

body.modal-open {
    overflow: hidden;
}

.container-500{
    width: 100%;
}

@media (min-width: 500px) {
    .container-500{
        width: 500px;
    }
}

.loading-overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10100;
    background: rgba(0, 0, 0, 0.5);
    text-align:center;
}

.loading-overlay i{
    position:absolute;
    top:50%;
    margin-top:-35px;
    left:50%;
    margin-left:-30px;
}

.input-group{
    width:100%;
    margin-bottom:10px;
}

.row-selected{

border-color: #d6e9c6 !important;
font-weight: bold;

}