<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Hola! Esto es Passcode</h1>

  
<p>Te ofrecemos una alternativa más simple a la hora de adquirir entradas para tus eventos favoritos.</p>



<p>Tu passcode es único y seguro asi que sólo presenta tu passcode en tu dispositivo móvil y estás dentro. </p>

<p>Sé parte de Passcode! Gózate el coro!
</p>
      <p>
        <a class="btn btn-lg btn-primary" ui-sref="signup" role="button" ng-show="!auth.loggedIn">Inscribete &raquo;</a>
<a class="btn btn-lg btn-primary" ui-sref="my-tickets" role="button" ng-show="auth.loggedIn">Mis Passcodes</a>
      </p>
    </div>
 </div>